<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cliente Twitter</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
 <!-- hola -->
  <!-- Favicons -->
  <link href="../public/favicon.ico" rel="icon">
  <!-- <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../public/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../public/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../public/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../public/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>Rapid</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Inicio</a></li>
          <li><a href="#services">Servicios</a></li>          
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <!-- ion-social-twitter -->
  <!-- #ff6584 -->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Gestor de Twitter <i class="ion-social-twitter" style="color: #55acee;"></i><br>para <span>Todos!</span></h2>
          <div>
            <a onclick="Authenticate();" class="btn-get-started scrollto">Comenzar</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="../public/img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">



    <!--==========================
      Services Section
    ============================-->
    <!-- class="section-bg" Color gris de section--> 
    <section id="services" >
      <div class="container">

        <header class="section-header">
          <h3>Servicios</h3>
          <p>Todo lo que puedes hacer a un click y <i>Totalmente gratis</i>.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <!-- ion-ios-person-outline -->
              <!-- ion-person-add -->
              <!-- ion-android-remove-circle -->
              <!-- ion-android-person -->
              
              <div class="icon" style="background: #fceef3;"><i class="ion-android-remove" style="color: #ff689b;"></i><i class="ion-android-person" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">No te siguen</a></h4>
              <p class="description text-center">Lista quienes no te siguen, eliminalos uno por uno o ha todos con un click.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-android-people" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Seguidores</a></h4>
              <p class="description text-center">Lista las personas que te siguen. Si los sigues, puedes eliminarlos.</p>
            </div>
          </div>
          <!-- ion-ios-heart-outline -->
          <!-- ion-ribbon-b -->
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-heart" style="color: #3fcdc7;"></i><i class="ion-android-person" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Seguidos</a></h4>
              <p class="description text-center">Lista las personas que sigues. Puedes eliminarlos uno a uno o ha todos.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->
 
<!--==========================
        Call To Action Section
      ============================-->
<section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3 class="cta-title">Libere su cuenta!</h3>
        <p class="cta-text"> Gestione de forma facil y sencilla a quienes sigue, sus seguidores y conozca en un solo espacio a quienes sigue pero no lo siguen de vuelta. Sin planes de pago, sin publicidad o limites de acciones o tiempo.</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" onclick="Authenticate();">Comenzar</a>
      </div>
    </div>

  </div>
</section><!-- #call-to-action -->    
    

    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>Preguntas Frecuentes (FAQ)</h3>
          <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
        </header>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">¿Existe algun tipo de limite, restricción o funciones premium?<i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                NO. Esta plataforma nace como respuesta a las herramientas faltantes en Twitter y que las demas plataformas que prestan estos servicios son de pago. La herramientas y la información deben estar a disposición de todos, por esta razón TODAS las herramientas estan disponibles de forma ilimitada para todo publico.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">¿Mi informacion queda guardada en algun lado? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                Solo la informacion de inicio de sesión es almacenada por medio de Cookies en tu explorador de preferencia (Chrome, Safari, Opera, etc). La informacion se elimina al cerrar la sesión.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">¿Por qué Twitter me pide autorizacion para entrar la página? <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                La pagina se alimenta de la informacion que proporciona Twitter, para garantizar la seguridad de la informacion y el correcto uso de esta Twitter debe comprobar que el usuario permite el acceso de la página.
              </p>
            </div>
          </li>    

        </ul>

      </div>
    </section><!-- #faq -->

  </main>

  <!--==========================
    Footer
  ============================-->
  
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
           Aplicación creada por <strong>Bryan Perez</strong>.
          </div>
          <div class="credits">
            Correo de contacto <strong>bryanoj98@gmail.com</strong>
          </div>
          <div class="credits">
            Version 1.0
          </div>
        </div>
        <div class="col-lg-6 text-lg-right text-center pt-2 pt-lg-0">
          <div class="copyright">
            &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
          </div>
          <div class="credits">
            Template by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>       
      </div>
    </div>
  </footer>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../public/lib/jquery/jquery.min.js"></script>
  <script src="../public/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../public/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../public/lib/easing/easing.min.js"></script>
  <script src="../public/lib/mobile-nav/mobile-nav.js"></script>
  <script src="../public/lib/wow/wow.min.js"></script>
  <script src="../public/lib/waypoints/waypoints.min.js"></script>
  <script src="../public/lib/counterup/counterup.min.js"></script>
  <script src="../public/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../public/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../public/lib/lightbox/js/lightbox.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../public/js/main.js"></script>

</body>
</html>
